@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: block;
  height: 100%;
  width: 100%;
  background: #f5f6fa;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  height: 100%;
  min-width: 350px;
  color: #ffffff;
  border: none;
  background-color: #174782;
}

#navbar header {
  margin: 10px 0;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 5px;

}

#navbar ul {
  height: 88%;
  overflow-x: hidden;
  overflow-y: auto;
}

#navbar li {
  padding: 10px 20px;
  list-style-type: none;
}

#navbar a {
  font-size: 17px;
  text-decoration: none;
  color: #bdc3c9;
}

#main-doc {
  margin-left: 350px;
  padding: 100px 50px;
  text-align: justify;
}


#main-doc p {
  margin-top: 20px;
}

#main-doc li {
  margin: 10px 50px;
}

code {
  display: block;
  padding: 20px;
  line-height: 30px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  word-spacing: 5px;
  color: #abb2bf;
  border-radius: 12px;
  background: #353a40;
}

.comment {
  color: #5c6370;
}

.keyword {
  color: #c678dd;
}

.string {
  color: #98c379;
}

.number {
  color: #d19a66;
}

.operator {
  color: #56b6c2;
}

@media screen and (width < 800px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #navbar {
    position: relative;
    width: 100%;
    min-height: 860px;
  }

  #navbar header {
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 20px;
  }

  header{
    text-decoration: underline;
    color: #c678dd;
    font-size:medium
  }

  #navbar li a {
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 2px;
  }

  #main-doc {
    margin-left: 0;
  }
}
